#title h2{
 display: inline-block;
 text-align: center;
 padding-top: 13px;
 padding-bottom: 13px;
 padding-left: 10px;
 color: white;
 font-size: 30px;
 font-family: 'Raleway', sans-serif;
}

#paint_palette{
  position: relative;
  top: 20px;
  width: 60px;
  padding-top: 10px;
  padding-left: 400px;
}

canvas{
  background-color: white;
  border-radius: 20px;
  float: left;
}

body{
  background-color: #CF4647;
}

#message_div{
  width: 300px;
  height: 630px;
  background-color: white;
  float: left;
  border-radius: 20px;
  margin-left: 20px;
}

#message_input{
  /*margin-top: 100px;*/
  width:750px;
  height: 40px;
  box-shadow: none;
  border:none;
  border-radius: 10px;
}

li {
  list-style: none;
}

#choice{
  width: 500px;
  clear: left;
  position: relative;
  top: -75px;
}

#chat {
  position: relative;
  top: -70px;
}

#chat button{
  background-color: white;
  border: none;
  height: 42px;
  width: 40px;
  border-radius: 10px;
}
